@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    background: linear-gradient(to right, rgb(15, 119, 156), rgb(106, 12, 207));
    display: flex;
    font-weight: 300;
    font-style: italic;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    margin: 0;
    /* padding: 20px; */
    padding-top: 0px;
    overflow: hidden;
    min-width: 500px;
    min-height: 500px;
}

.image {
    height: 150px;
    /* margin-top: 10px; */
    margin-bottom: 150px;
    border-radius: 50%;
}

.question-container {
    background: linear-gradient(to right, rgb(25, 57, 128), rgb(12, 102, 161));
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.question {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}

.answer {
    background: transparent;
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    font-family: inherit;
    font-size: 17px;
}

.answer:hover {
    border: solid 1px blue;
    border-radius: 7px;
    background-color: blue;
}

.answer:active {
    background-color: darkblue;
    transform: scale(0.8);
    transition: 0.5s all ease-in-out;
}

@media (max-height: 900px) {
    body {
        display: flex;
        padding: 10px;
        height: 90vh;
    }

    .image {
        width: 100px;
        margin-bottom: 0px;
    }

    .question-container {
        margin-bottom: 0px;
        padding: 5px;
    }
}

@media (max-height: 600px) {
    .image {
        width: 50px;
    }

    .answer-container {
        display: flex;
        flex-direction: row;
    }
}